extends layout

block content
    .container-fluid.body
      div
        .row.title
          div
            #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100.img-fluid(src='./images/img1-1.jpg', alt='title image')
                .carousel-item
                  img.d-block.w-100.img-fluid(src='./images/img1-2.jpg', alt='title image')
                .carousel-item
                  img.d-block.w-100.img-fluid(src='./images/img1-3.jpg', alt='title image')
                .carousel-item
                  img.d-block.w-100.img-fluid(src='./images/img1-4.jpg', alt='title image')
      .container-fluid.search
        .col.align-self-center.search-card
          .card.search-title
            .card-body
              h1.card-title Find Your next experience
              .container-fluid.main-box
                .form-group.row.main-body
                  .col-lg.search-group
                    .input-group
                      input.form-control.search-text(type='text', placeholder='Search events or categories', aria-label='Search events or categories')
                      input.form-control.search-text(type='text', placeholder='City or location', aria-label='city or location')
                      .input-group-btn
                        .dropdown
                          .dropdown
                            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.all-dates(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                              | All Dates
                            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                              a.dropdown-item(href='#') Today
                              a.dropdown-item(href='#') Tommorow
                              a.dropdown-item(href='#') This Week
                              a.dropdown-item(href='#') This Weekend
                              a.dropdown-item(href='#') Next Week
                              a.dropdown-item(href='#') This Month
                      button.btn.btn-secondary.search-enter(type='button') SEARCH
        .mobile-search
          .input-group
            input.form-control.search-text-box(type='text', placeholder='Search events or categories', aria-label='Search for...')
            span.input-group-btn
              button.btn.btn-secondary.search-box(type='button') search
      .container.banner-region
        .row.title-region
          .col
            h2.center
              | Popular Events in 
              a(href='#') Seoul, Republic of Korea
      
      .container-card
        .row
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-1.jpg', alt='img')
                .card-body
                  .card-text
                    .day Sat 14 October 6:00 PM
                    .title
                      | UCL visits Seoul, South Korea: Presentation and Information Session
                    .place
                      | Room 208A, COEX, SEOUL
              .card-footer
                a.tag(href='#') #FamilyEducation
                a.tag(href='#') #Seminar
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-2.jpg', alt='img')
                .card-body
                  .card-text
                    .day Fri, February 2, 9:00 AM
                    .title
                      | G.O.A'L's Korean Adoption Studies Conference 2018
                    .place
                      | Hanguk University of Foreign Studies,Seoul
              .card-footer
                a.tag(href='#') #FamilyEducation
                a.tag(href='#') #Conference
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-3.jpg', alt='img')
                .card-body
                  .card-text
                    .day Sat OCT 21 9:00 AM
                    .title
                      | Dwight School Seoul - Family Photos Day 2017
                    .place
                      | The Gallery
              .card-footer
                a.tag(href='#') #FamilyEducation
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-4.jpg', alt='img')
                .card-body
                  .card-text
                    .day Sat OCT 14 9:15 AM
                    .title
                      | Seoul Foreign School - Family Photos Day 2017
                    .place
                      | Lyso Black Box
              .card-footer
                a.tag(href='#') #FamilyEducation
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-5.jpg', alt='img')
                .card-body
                  .card-text
                    .day Sun, OCT 22 4:45 PM
                    .title
                      | Haebangchon Food Crawl 해방촌 푸드투어
                    .place
                      | Lyso Black Box
              .card-footer
                a.tag(href='#') #Hobbies
                a.tag(href='#') #Party
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-6.jpg', alt='img')
                .card-body
                  .card-text
                    .day Fri 3 November 6:00 PM
                    .title
                      | LKY School of Public Policy (NUS), LKYSPP Social,Seoul,3 Nov'17
                    .place
                      | Four Seasons Hotel Seoul (Lounge)
              .card-footer
                a.tag(href='#') #Semi
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-7.jpg', alt='img')
                .card-body
                  .card-text
                    .day Thu, OCT 12 10:00 AM
                    .title
                      | K Beauty Expo 2017 - medical-events-info
                    .place
                      | SEOUL
              .card-footer
                a.tag(href='#') #Health
                a.tag(href='#') #Conference
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-8.jpg', alt='img')
                .card-body
                  .card-text
                    .day Fri, OCT 13, 10:00 AM
                    .title
                      | Co-Curricular: Listen to your mind and body through Yoga
                    .place
                      | Seoul Forest Station Exit 3
              .card-footer
                a.tag(href='#') #Health
                a.tag(href='#') #Conference
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-9.jpg', alt='img')
                .card-body
                  .card-text
                    .day Thu, November 9 6:00 PM
                    .title
                      | APSIA: Graduate School Fair, Seoul
                    .place
                      | Millennium Seoul Hilton 50, Sowol-ro, Jung-gu
              .card-footer
                a.tag(href='#') #Government
                a.tag(href='#') #Networking
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-10.jpg', alt='img')
                .card-body
                  .card-text
                    .day Fri, Oct 13, 7:00 PM
                    .title
                      | Korea Meditation Tour & KiGong Festival
                    .place
                      | SEOUL
              .card-footer
                a.tag(href='#') #Health
                a.tag(href='#') #Tour
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-11.jpg', alt='img')
                .card-body
                  .card-text
                    .day Thu, Nov 9, 2017, 9:00 AM
                    .title
                      | GMP and Regulatory Expectations for Early IND Products 2017
                    .place
                      | Seoul
              .card-footer
                a.tag(href='#') #Health
                a.tag(href='#') #Conference
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')
          .col-md-4.col-sm-6
            .card
              a(href='#')
                img.card-img-top(src='./images/img2-12.jpg', alt='img')
                .card-body
                  .card-text
                    .day Tue, Nov 7, 2017, 3:00 PM
                    .title
                      | Asia Privacy Bridge Forum in Fall 2017
                    .place
                      | Baekyangnuri, Yonsei University, Soul
              .card-footer
                a.tag(href='#') #Government
                a.tag(href='#') #Conference
                i.fa.fa-upload(aria-hidden='true')
                i.fa.fa-bookmark-o(aria-hidden='true')

    div
      .container.see-container
        .row.see
          .col.see-btn.text-center
            button.btn.btn-outline-primary.see-more(type='button') SEE MORE
    .container.browse-container
      .container
        .row
          .col
            h5.browse Browse by Top Categories
          .row
            .col-md-8.col-sm-12
              .card.bg-dark.text-white
                img.card-img(src='./images/img3-1.jpg', alt='Card image')
                .card-img-overlay
                  h4.card-title Music
                  p.card-text
                    | Intimate house conserts, major music festivals, and the occasional dance party  
            .col-md-4.col-sm-12
              .card.bg-dark.text-white
                img.card-img(src='./images/img3-2.jpg', alt='Card image')
                .card-img-overlay
                  h4.card-title Food & Drink
                  p.card-text
                    | Dinner parties, tastings, and big-time festivals

            .col-md-4.col-sm-12
              .card.bg-dark.text-white
                img.card-img(src='./images/img3-3.jpg', alt='Card image')
                .card-img-overlay
                  h4.card-title Classes
                  p.card-text
                    |Enlightening seminars, technical workshops, and fitness classes    
            .col-md-4.col-sm-12
              .card.bg-dark.text-white
                img.card-img(src='./images/img3-4.jpg', alt='Card image')
                .card-img-overlay
                  h4.card-title Arts
                  p.card-text
                    | Plays, comedy nights, art exhibitions and film festivals    
            .col-md-4.col-sm-12
              .card.bg-dark.text-white
                img.card-img(src='./images/img3-5.jpg', alt='Card image')
                .card-img-overlay
                  h4.card-title Parties
                  p.card-text
                    | Casual happy hours, singles nights, and all-night celebrations
            .col-md-4.col-sm-12
              .card.bg-dark.text-white
                img.card-img(src='./images/img3-6.jpg', alt='Card image')
                .card-img-overlay
                  h4.card-title Sports & Welness
                  p.card-text
                    |Obstacle races, drop-in yoga classes, and the big game            
            .col-md-8.col-sm-12
              .card.bg-dark.text-white
                img.card-img(src='./images/img3-7.jpg', alt='Card image')
                .card-img-overlay
                  h4.card-title NetWorking
                  p.card-text
                    | Intimate house conserts, major music festivals, and the occasional dance party            
    .container-footer
      .row
        .col-md-3.col-sm-12
          ul
            li
              h3 Use Eventbrite
            li
              a(href='https://www.eventbrite.com/how-it-works/') How It Works
            li
              a(href='https://www.eventbrite.com/blog/overview/?ref=ebfooter') For Large & Complex Events
            li
              a(href='https://www.eventbrite.com/fees/') Pricing
            li
              a(href='https://www.eventbrite.com/support/articleredirect?anum=26182') Community Guidelines
            li
              a(href='https://www.eventbrite.com/eventbriteapp/') Eventbrite Mobile App
            li
              a(href='https://www.eventbrite.com/l/Organizer-check-in-app/') Eventbrite Check-In App
            li
              a(href='https://www.eventbrite.com/spectrum/') Eventbrite Spectrum
            li
              a(href='https://www.eventbrite.com/rally/') Rally - Fun Things To Do
            li
              a(href='https://www.eventbrite.com/blog/academy/') Event Organizing Resources
            li
              a(href='https://www.eventbrite.com/sitemap/') Sitemap
        .col-md-3.col-sm-12
          ul
            li
              h3 Plan Events
            li
              a(href='https://www.eventbrite.com/l/conferences/') Conference Management Software
            li
              a(href='https://www.eventbrite.com/l/reunions/') Reunions
            li
              a(href='https://www.eventbrite.com/l/npo/') Nonprofits & Fundraisers
            li
              a(href='https://www.eventbrite.com/l/reviews/') Eventbrite Reviews
            li
              a(href='https://www.eventbrite.com/l/sell-tickets/') Sell Tickets
            li
              a(href='https://www.eventbrite.com/l/event-management-software/') Event Management & Planning
            li
              a(href='https://www.eventbrite.com/l/registration-online/') Online Event Registration
            li
              a(href='https://www.eventbrite.com/l/online-rsvp/') Online RSVP
            li
              a(href='https://www.eventbrite.com/l/music-venues/') Venue Booking & Management
            li
              a(href='https://www.eventbrite.com/l/event-promotion/') Event Promotion
        .col-md-3.col-sm-12
          ul
            li
              h3 Find Events
            li
              a(href='https://www.eventbrite.com/d/ma--boston/events/') Boston Events
            li
              a(href='https://www.eventbrite.com/d/il--chicago/events/') Chicago Events
            li
              a(href='https://www.eventbrite.com/d/co--denver/events/') Denver Events
            li
              a(href='https://www.eventbrite.com/d/tx--houston/events/') Houston Events
            li
              a(href='https://www.eventbrite.com/d/ca--los-angeles/events/') Los Angeles Events
            li
              a(href='https://www.eventbrite.com/d/tn--nashville/events/') Nashville Events
            li
              a(href='https://www.eventbrite.com/d/ny--new-york/events/') New York Events
            li
              a(href='https://www.eventbrite.com/d/ca--san-diego/events/') San Diego Events
            li
              a(href='https://www.eventbrite.com/d/ca--san-francisco/events/') San Francisco Events
            li
              a(href='https://www.eventbrite.com/sitemap/directory/')  All Cities 
        .col-md-3.col-sm-12
          ul
            li
              h3 Connect With Us
            li
              i.fa.fa-envelope-square(aria-hidden='true')
              a(href='#') Contact Support
            li
              i.fa.fa-envelope-square(aria-hidden='true')
              a(href='#') Contact Sales
            li
              i.fa.fa-twitter-square(aria-hidden='true')
              a(href='#') Twitter
            li
              i.fa.fa-facebook-square(aria-hidden='true')
              a(href='#') Facebook
            li
              i.fa.fa-linkedin-square(aria-hidden='true')
              a(href='#') LinkedIn
            li
              i.fa.fa-instagram(aria-hidden='true')
              a(href='#') Instagram
            li
              i.fa.fa-google-plus(aria-hidden='true')
              a(href='#') Google+
      hr      
      .Country
      h3 Country
      .list
        | Argentina Australia Brasil Canada(EN) Canada(FR) Chile Colombia Deutschland España France Hong Kong Ireland Italia 
        br
        |  Mexico Nederland New Zealand Peru Portugal Singapore United Kingdom United States
      hr
      .bottom
        | About  Blog Help  Careers  Press  Security  Developers  Terms  Privacy  Cookies
        select#select2.custom-select
          option(selected='') United States
          option(value='1') Argentina
          option(value='2') Australia
          option(value='3') Brasil
          option(value='4') Canada (EN)
          option(value='5') Canada (FR)
          option(value='6') Deutschland
          option(value='7') Espana
          option(value='8') France
          option(value='9') Hong Kong
          option(value='10') Ireland
          option(value='11') Italia
          option(value='12') Nederland
          option(value='13') New Zealand
          option(value='14') Portugal
          option(value='15') Singapore
          option(value='16') United Kingdom
