doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')
    //script(src='/javascripts/application.js')
  body
    .container-fluid
      nav.navbar.navbar-toggleable-md.navbar-expand-lg.navbar-light.bg-faded
        a.navbar-brand.main-title(href='#') Eventbrite
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/') BROWSE EVENTS
          li.nav-item.dropdown.content-button
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') ORGANIZE
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item(href='#') Overview
              a.dropdown-item(href='#') Pricing
              a.dropdown-item(href='#') Blog
              a.dropdown-item(href='#') Resources
          li.nav-item
            a.nav-link(href='/signin') SIGN IN
          li.nav-item
            a.nav-link(href='/users/new') SIGN UP
          li.nav-item
            a.nav-link(href='/events/new') CREATE EVENT  
              
    block hero-unit
    block content
