extends layout

block content
  .container.icon
    img(src='./images/icon.jpg', alt='title image')
  .container
    .clearfix
      form.form-signin(action='/signin', method='POST')
        h1.form-signin-heading Let's get started
        .form-signin-text Enter your email to sign up or log in.
        .form-signin-subtext Email address
        label.sr-only(for='email') Email address
        input(
          type='email', id='email', name='email', class='form-control', 
          placeholder='Email address', required, autofocus
        )
        
        button.btn.btn-primary.btn-block(href='/users/new') Get started
    
