.form-button{
  width: 40%;
  margin-right: 3em;
  float: left;
}

.form-title{
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h3.main-title{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h1.main-title{
  color: black;
  margin-bottom: 2em;
}
btn.save{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
