.btn.public{
  background-color: orangered;
  color: white;
  display: inline-block;
  border: 1em 1em;
  margin-bottom: 0.5em;
  width:20% }

.btn.public:hover {
  background-color: white;
  color: black;
  border-color: black;
  width: 20%;}

.btn.save{
  background-color: orangered;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1em 1em;
  margin-bottom: 0.5em;
  width:20% }

.btn.save:hover {
  background-color: white;
  color: black;
  border-color: black;
  width: 20%;}

.form-title{
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h3.main-title.title{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h1.main-title{
  color: black;
  margin-bottom: 2em;
}

.event-new {
  h1 {
    color: $primary-color;
    margin-top: 70px;
  }
 .event-input-group {
   margin-top: 70px;
   margin-bottom: 100px;
  }
  #pay {
    .tab{
      margin: 0 auto;
      text-align: center;
    }
    .tab:after, .tab>ul:after, .tab>ul>li:after{
      content: "";
      clear: both;
    }

    .tab >ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .tab > ul > li{
      display: inline-block;
      margin: 0 auto;
    }
    .tab > .content >div{
      display:none;
    }
    .tab > .content > div.selected {
      display: block;
    }
    #FREE, #PAID {
      transition: all 0.2s ease .1s;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      color: white;
    }
    #FREE{
      margin-right: 1em;
      float: left;
    }
    #FREE:hover, #PAID:hover,
    #FREE.active, #PAID.active{
      border-color: Black;
      background-color: white;
      color: black;
    }
    .section input {
      width: 90%;
    }
}
