hr.question
.form-title
  h3 1Event Details
.form-group
  label(for="title") EVENT TITLE
  input.form-control(type="text", name="title", placeholder="Give it a short distint name", value=question.title)
.form-group
  label(for="title") LOCATION
  input.form-control(type="text", name="title", placeholder="Search for a venue or address", value=question.title)
.form-group
  label(for="question") Question
  textarea.form-control(name="content", rows="5")= question.content
.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")
