extends ../layout

block content
  .container
    h1.main-title Edit Question
    form(action=`/questions/${question.id}?_method=PUT`, method="POST")
      include _form
      button.btn.public(type="submit") Update Your Event
    
