extends ../layout

block content
  .container
    h3.main-title Create An Event
    form(action="/questions", method="POST")
      include _form
      button.btn.btn-outline-primary.save(type="submit") SAVE

    
